# Ignore Gradle project-specific cache directory
.gradle

index.scip

# Ignore Gradle build output directory
build

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
